#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  text-align: left;
  padding: 40px 0px;
  background: #05022d;
}

#sidebar-wrapper .list-group-item {
  background: #05022d;
  color: #fff;
  padding: 7px 10px;
}
#sidebar-wrapper .list-group-item.active {
  background: #fec52e;
  color: #000;
  border-color: transparent;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
